Repository nishinohi/tanstack-start-test: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

lefthook.yml:

# Lefthook configuration for TanStack Start project
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      exclude: 'src/routeTree.gen.ts'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      priority: 1

    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'eslint.config.js|vite.config.ts|src/routeTree.gen.ts'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      priority: 2

    stylelint:
      glob: '*.css'
      run: pnpm stylelint --fix {staged_files}
      stage_fixed: true
      priority: 2

add: dependabot を追加
  .github/dependabot.yml
Due: none

package: drizzle 関連のパッケージを追加
  package.json
  pnpm-lock.yaml
Due: prettier

package: update latest
  package.json
  pnpm-lock.yaml
Due: prettier

add: DB スキーマと操作スクリプト追加
  migrations/0000_blue_fixer.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/db/config/drizzle-dev.config.ts
  src/db/config/drizzle-local.config.ts
  src/db/config/drizzle-prod.config.ts
  src/db/config/drizzle-start.config.ts
  src/db/config/drizzle-stg.config.ts
  src/db/lib/drizzle-config-loader.ts
  src/db/schema/schema.ts
  src/db/seed/drop-all-table.sql
  src/routes/env.tsx
  wrangler.jsonc
Due: prettier, eslint

add: DB 操作用の画面追加
  src/routeTree.gen.ts
  src/routes/db-test.tsx
  src/server/db-test.ts
Due: prettier, eslint

claude: update rules
  .claude/settings.json
  .mcp.json
  CLAUDE.md
Due: prettier

fix: pnpm のバージョンがデプロイで v9 を使用していた問題を修正
  .github/workflows/deploy.yml
  CLAUDE.md
Due: prettier

add: vscode でのデバッグよう設定を追加
  .vscode/launch.json
Due: prettier

refactor: 一つのファイルで完結させる
  src/routes/db-test.tsx
  src/server/db-test.ts
Due: prettier, eslint

feat: コミット用スキルコマンドを追加
  .claude/commands/commit.md
Due: prettier

agent: git 操作を許可
  .claude/settings.json
Due: prettier

feat: フォームバリデーション機能を実装
  package.json
  pnpm-lock.yaml
  src/routes/db-test.tsx
Due: prettier, eslint

docs: demoファイルの解説ガイドを追加
  docs/demo-files-guide.md
Due: prettier

refactor: DB インスタンス生成処理を共通化
  migrations/0000_blue_fixer.sql
  migrations/0000_serious_phil_sheldon.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  src/db/client.ts
  src/db/schema/auth.ts
  src/db/schema/index.ts
  src/routes/db-test.tsx
Due: prettier, eslint

refactor: 一時ドキュメント管理のためのフォルダを作成
  .gitignore
Due: none

agent: update claude
  CLAUDE.md
Due: prettier

package: shadcn コンポーネントを追加
  package.json
  pnpm-lock.yaml
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
Due: prettier, eslint

feature: ログイン機能
  src/components/Header.tsx
  src/components/UserMenu.tsx
  src/db/client.ts
  src/lib/auth-client.ts
  src/lib/server-client.ts
  src/middleware/auth.ts
  src/routeTree.gen.ts
  src/routes/api/auth/$.ts
  src/routes/db-test.tsx
  src/routes/login.tsx
  wrangler.jsonc
Due: prettier, eslint

feat: 認証のベースURL設定を環境変数化
  .github/workflows/deploy.yml
  src/lib/auth-client.ts
Due: prettier, eslint

docs: README のコマンド表記を修正
  README.md
Due: prettier

feat: バンドルサイズ分析機能を追加
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier

docs: CLAUDE.md のドキュメントを更新
  CLAUDE.md
Due: prettier

agent: VSCode拡張機能の推奨設定を追加
  .vscode/extensions.json
Due: prettier

style: Tailwind CSSのグラデーションクラス名を修正
  src/routes/demo/start.ssr.data-only.tsx
  src/routes/demo/start.ssr.full-ssr.tsx
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.spa-mode.tsx
  src/routes/login.tsx
Due: prettier, eslint

refactor: DBテストページのUI改善
  src/routes/db-test.tsx
Due: prettier, eslint

agent: Serena MCP設定を初期化
  .mcp.json
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/database_layer.md
  .serena/memories/deployment_info.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: prettier

feat: Non-streaming SSR DBデモページを追加
  src/components/Header.tsx
  src/routeTree.gen.ts
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.non-streaming-ssr-db.tsx
  src/routes/login.tsx
Due: prettier, eslint

feat: Todoテストデータ投入用SQLを追加
  src/db/seed/data/insert-100-todos.sql
Due: none

fix: Drizzle設定の環境変数名を修正
  src/db/lib/drizzle-config-loader.ts
Due: prettier, eslint

docs: CLAUDE.mdのドキュメントを改善
  CLAUDE.md
Due: prettier

feat: SSRクライアントフェッチDBデモページを追加
  src/components/Header.tsx
  src/routeTree.gen.ts
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.non-streaming-ssr-client-fetch-db.tsx
Due: prettier, eslint

feat: SSRルーターキャッシュDBデモページを追加
  src/components/Header.tsx
  src/routeTree.gen.ts
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.non-streaming-ssr-db-router-cache.tsx
Due: prettier, eslint

agent: AI agentツールと出力ディレクトリを除外設定に追加
  .prettierignore
  eslint.config.js
Due: prettier

refactor: start環境をpreview環境に移行
  package.json
  pnpm-lock.yaml
  src/db/config/drizzle-preview.config.ts
  src/db/lib/drizzle-config-loader.ts
  wrangler.jsonc
Due: prettier, eslint

docs: start環境からpreview環境への移行に伴う説明を更新
  CLAUDE.md
Due: prettier

docs: cloudflare環境設定の詳細ガイドを追加
  docs/cloudflare-environment-setup.md
Due: prettier

refactor: non-streaming ssr dbデモをrouter loaderベースに変更
  src/routes/demo/start.ssr.non-streaming-ssr-db.tsx
Due: prettier, eslint

feat: router invalidateベースのuseMutationフックを追加
  src/hooks/useMutation.ts
Due: prettier, eslint

style(eslint): no-shadowルールを無効化
  eslint.config.js
Due: prettier

feat: streaming ssr dbデモページを追加
  src/components/Header.tsx
  src/routeTree.gen.ts
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.streaming-ssr-db.tsx
Due: prettier, eslint
