Repository nishinohi/tanstack-start-test: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  priority: 1

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  priority: 2

stylelint:
  run: pnpm stylelint --fix {staged_files}
  stage_fixed: true
  priority: 2

docs: テストコマンド例と環境数を更新
  CLAUDE.md
Due: prettier

feat: react-error-boundary依存関係を追加
  package.json
  pnpm-lock.yaml
Due: prettier

feat: 404ページを追加
  src/routes/__root.tsx
Due: prettier, eslint

feat: streaming ssr dbデモのエラーハンドリングを強化
  src/routes/demo/start.ssr.streaming-ssr-db.tsx
Due: prettier, eslint

feat: tanstack query版streaming ssr dbデモを追加
  src/components/Header.tsx
  src/routeTree.gen.ts
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.streaming-ssr-db-with-query.tsx
Due: prettier, eslint

refactor: streaming ssr dbでtanstack queryのuseMutationを使用
  src/routes/demo/start.ssr.streaming-ssr-db.tsx
Due: prettier, eslint

fix: main ブランチの push では environment は未指定
  .github/workflows/deploy.yml
Due: none

fix: main への push で github の environment を production で扱う
  .github/workflows/deploy.yml
Due: none

doc: 初期化に関する内容をドキュメントに追加
  .dev.vars.example
  .env.example
  .env.local.example
  .gitignore
  README.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md}, but not: src/routeTree.gen.ts
  eslint: any of: *.{js,jsx,ts,tsx}, but not: eslint.config.js|vite.config.ts|src/routeTree.gen.ts
  stylelint: any of: *.css
